name: Release
on:
  release:
    types: [published]
jobs:
  version:
    name: Start Release
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v5.0.1

      - name: Generate Package Version
        id: version
        shell: pwsh
        run: Write-Host "::set-output name=version::$('${{ github.event.release.tag_name }}'.substring(1))"

      - name: Set Package Version
        uses: ciiiii/toml-editor@1.0.0
        with:
          file: Cargo.toml
          key: package.version
          value: ${{ steps.version.outputs.version }}

      - name: Stash Versioned Cargo.toml
        uses: actions/upload-artifact@v5
        with:
          name: cargofile
          path: Cargo.toml

  build:
    name: ${{ matrix.os }}-${{ matrix.arch }}-release
    runs-on: ${{ matrix.run_on }}
    continue-on-error: true
    needs:
      - version
    strategy:
      matrix:
        include:
          # Windows builds
          - arch: amd64
            os: windows
            run_on: windows-latest
            target: x86_64-pc-windows-msvc
            extension: .exe

          # Linux builds
          - arch: amd64
            run_on: ubuntu-latest
            os: linux
            dockerfile: build/Dockerfile.linux-x86_64

          # Apple MacOS builds
          - arch: amd64
            run_on: macos-latest
            os: darwin
            target: x86_64-apple-darwin
    steps:
      - name: setup dependencies
        run: ${{ matrix.setup }}
        if: matrix.setup

      - name: Get Rust Stable
        uses: actions-rs/toolchain@v1.0.7
        if: matrix.target
        with:
          toolchain: stable
          override: true
          target: ${{ matrix.target }}

      - name: Check out code
        uses: actions/checkout@v5.0.1

      - name: Fetch Versioned Cargo.toml
        uses: actions/download-artifact@v6
        with:
          name: cargofile

      - name: install protoc
        if: matrix.target
        run: |
          if ('${{ matrix.os }}' -eq 'windows') {
            $protoc_arch = 'win64'
          } elseif ('${{ matrix.os }}' -eq 'darwin') {
            $protoc_arch = 'osx-x86_64'
          } else {
            $protoc_arch = 'linux-x86_64'
          }
          $protoc_url = "https://github.com/protocolbuffers/protobuf/releases/download/v3.20.2/protoc-3.20.2-$protoc_arch.zip"
          Write-Host "Downloading protoc from '$protoc_url'"
          Invoke-WebRequest -OutFile protoc.zip -Uri $protoc_url
          Expand-Archive protoc.zip -DestinationPath ../tools
          Add-Content -Path $env:GITHUB_PATH -Value "$((Get-Item ./).Parent.FullName)/tools/bin"
        shell: pwsh

      - name: cargo build
        if: matrix.target
        uses: actions-rs/cargo@v1.0.3
        with:
          command: build
          args: --release --target ${{ matrix.target }} ${{ matrix.flags }}
          
      - name: Strip Debug Symbols
        run: |
          ${{ matrix.strip }} target/${{ matrix.target }}/release/buckle${{ matrix.extension }}
        if: matrix.strip

      - name: Build Docker image
        run: |
          docker build -t buckle:dev -f ${{ matrix.dockerfile }} .
          mkdir -p out
          docker run --rm -v $(pwd):/buckle buckle:dev cp /app/buckle /buckle/out/buckle${{ matrix.extension }}
        if: matrix.dockerfile

      - name: Prepare release artifacts
        run: |
          mkdir -p out
          cp target/${{ matrix.target }}/release/buckle${{ matrix.extension }} out/buckle${{ matrix.extension }}
        if: matrix.target

      - name: Upload GitHub Release Artifacts
        uses: SierraSoftworks/gh-releases@v1.0.8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          overwrite: "true"
          files: |
            out/buckle${{ matrix.extension }} | buckle-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.extension }}
